*{
	font-family:Arial;
	border-collapse:collapse;
	border:none;
	margin:0;
	padding:0;
	border-spacing:0px;
	user-select:none;
	outline:none;
    color:var(--tx);
    overscroll-behavior: none;
}
:root {
  --cw:#efefff;
  --cb:#cec8e3;
  --cl:#6e5fa5;
  --cs:rgba(110,95,165,0.25);
  --cm:rgba(110,95,165,0.5);
  --cf:rgba(90,75,145,1);
  --wn:#fff;
  --ft:none;
  --tx:#000;
  --ls:20;
}
#boosty{fill:var(--tx);}
.panel{box-shadow:0px 2px 24px var(--cs);border-radius:16px;padding:4px;}
@keyframes flash{0%{box-shadow:0px 2px 32px var(--cf);background-color:var(--cb);}25%{box-shadow:0px 2px 32px var(--cf);background-color:var(--cb);}100%{box-shadow:0px 2px 24px var(--cs);background-color:var(--wn);}}
@keyframes flash2{0%{box-shadow:0px 0px 16px var(--cb);background-color:var(--cw);}50%{box-shadow:0px 0px 12px var(--cb);background-color:var(--cb);}}
.story_block{min-height:28px;width:256px;position:absolute;cursor:all-scroll; background-color:var(--wn);}
#world{position:absolute;-ms-transform:scale(1);transform:scale(1);-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;background-color:var(--cw);background-blend-mode:overlay;}
#search_block::placeholder{color: var(--cb);}
line{stroke:var(--cl);stroke-dasharray:var(--ls);stroke-width:2;animation:dash 4s linear infinite;}
@keyframes dash{from{stroke-dashoffset:0} to{stroke-dashoffset:200;}}
#toast{
	position:fixed;
	opacity:0;
	bottom:-10%;
	transform:translateX(-50%);
	padding:0px 32px;
	height:40px;
	min-width:128px;
	box-shadow:0px 2px 24px var(--cs);
	z-index:20000;
    display:grid;justify-content:center;align-items:center;
}
.toast_anim{left:50%;border-radius:32px;animation:viwe 0.25s,stop 2s 0.25s,close 0.5s 2s linear;}
@keyframes viwe{from{opacity:0;bottom:64px}to{opacity:1;bottom:64px}}
@keyframes stop{from{opacity:1;bottom:64px}to{opacity:1;bottom:64px}}
@keyframes close{from{opacity:1;bottom:64px}to{opacity:0;bottom:-32px}}
#new_story_block,#scene_controll,#ho_controll,.scene_close{
	position:fixed;
	height:40px;
	z-index:10000;
	bottom:32px;
	right:32px;
    border-radius:20px;
    background-color:var(--wn);
    box-shadow:0px 2px 24px var(--cs);
    cursor:pointer;
    overflow:hidden;
}
#menu_panel{
	z-index:1000;
	top:0;
	left:0;
	background-color:var(--wn);
	box-shadow:0px 2px 24px var(--cs);
	border-radius:0 0 16px 0;
	position:fixed;
	height:40px;
	max-width:620px;
	width:100%;
}
.button_block{height:26px;width:26px;background-size:70% 70%;background-repeat:no-repeat;background-position:center;}
.icon{background-size:22px 22px;background-repeat:no-repeat;background-position:center;filter:var(--ft);}
.icon_m{background-size:18px 18px;background-repeat:no-repeat;background-position:center;cursor:pointer;filter:var(--ft);}
.button_menu{background-position:center;cursor:pointer;}
.button_menu:hover{background-color:var(--cb);}
.icon_new{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M223,52V249H35V6H176ZM223,53H176V6'/%3e%3c/svg%3e")}
.icon_load{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M48,85H252L208,226H5ZM48,85L5,226V51L18,34H65l13,17H208V85H48Z'/%3e%3c/svg%3e")}
.icon_save{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M238,51V228a10,10,0,0,1-10,10H27a10,10,0,0,1-10-10V27A10,10,0,0,1,27,17H203ZM39,238V127a10,10,0,0,1,10-10H205a10,10,0,0,1,10,10V238H39ZM174,95H79a10,10,0,0,1-10-10V17H184V85A10,10,0,0,1,174,95ZM168,42a10,10,0,0,0-10-10H144a10,10,0,0,0-10,10V71a10,10,0,0,0,10,10h14a10,10,0,0,0,10-10V42ZM63,162H192m0,49H63'/%3e%3c/svg%3e")}
.icon_play{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M7,24L248,126V128L7,230V24Z'/%3e%3c/svg%3e")}
.icon_edit{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M164,37l53,53-131,131L33,169ZM225,16L238,29a28,28,0,0,1,0,40l-20,20L164,37,185,16A28,28,0,0,1,225,16ZM59,195L190,64M9,245h0l73-22L32,173Z'/%3e%3c/svg%3e")}
.icon_show{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M246,40H10M246,130H10M246,220H10'/%3e%3c/svg%3e")}
.icon_setup{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' stroke-linecap='round' d='M28,6a14,14,0,1,1-14,14A14,14,0,0,1,28,6Zm74,44A14,14,0,1,1,88,64,14,14,0,0,1,102,50ZM63,93a14,14,0,1,1-14,14A14,14,0,0,1,64,93ZM49,107H2m0-86h11m-11,43H87m37,43H77M42,20h82m-8,44h8'/%3e%3c/svg%3e")}
.icon_about{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' %3e%3cpath d='M106,104h22v86M106,192h42'/%3e%3ccircle fill='none' cx='128' cy='64' r='6'/%3e%3ccircle cx='128' cy='128' r='120'/%3e%3c/g%3e%3c/svg%3e")}
.icon_close{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' cx='128' cy='128' r='120'/%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M71,184L184,70M184,184L71,70'/%3e%3c/svg%3e")}
.icon_ok{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' %3e%3ccircle cx='128' cy='128' r='120'/%3e%3cpath d='M194,82l-86,86L61,124'/%3e%3c/g%3e%3c/svg%3e")}
.icon_build{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M47,17H209a30,30,0,0,1,30,30V209a30,30,0,0,1-30,30H47a30,30,0,0,1-30-30V47A30,30,0,0,1,47,17ZM148,162H38m180,0H176m-107,19-14,24m92-155-67,112m59-62,63,105m-93-155,19,31'/%3e%3c/svg%3e")}
.icon_go{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M82,36l91,91L82,219'/%3e%3c/svg%3e")}
.icon_add{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' cx='128' cy='128' r='120'/%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M47,128h161M128,208V47'/%3e%3c/svg%3e")}
.icon_del{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M194,62V230H63V62M47,45H210M108,23h39V45H108V23ZM128,62V213M92,62V213M164,62V213'/%3e%3c/svg%3e")}
.icon_json{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M177,4h24c7,0,13,1,18,6s6,10,6,18v82l27,17L225,146v82c0,7-1,12-6,17s-10,7-18,7H177M84,7H60c-7,0-13,1-18,6s-6,10-6,18v79L8,128,36,146v79c0,7,1,12,6,17s10,7,18,7H84M113,212c9,0,18-4,22-10,3-4,4-12,4-25V72'/%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' cx='139.375' cy='43.594' r='2.5'/%3e%3c/svg%3e")}
.icon_css{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 65 65'%3e%3cpath fill='none' fill-opacity='0' stroke='%23000' stroke-width='3' stroke-linejoin='round' stroke-linecap='round' d='M3,1H61L55,55,33,63,9,55Z M15,13H50L45,46,33.167,51,19,46l-1-6.734M17,28H47'/%3e%3c/svg%3e")}
.icon_text{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M217,196H109L43,249V196H38c-16,0-29-13-29-30V38C9,21,22,9,39,9H218c16,0,29,12,29,29V166A30,30,0,0,1,217,196Z'/%3e%3c/svg%3e")}
.icon_up{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M12,188 128,60 246,188z'/%3e%3c/svg%3e")}
.icon_down{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M12,60 128,188 246,60z'/%3e%3c/svg%3e")}
.icon_goto{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M118,88l42,40-42,46M70,128h84M34,220V36M248,220H192V36h56'/%3e%3c/svg%3e")}
.icon_back{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M138,88L96,128l42,46M186,128H102M222,220V36M8,220H64V36H8'/%3e%3c/svg%3e")}
.icon_edit2{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' %3e%3cpath d='M152,114h74a20,20,0,0,1,20,20v93a20,20,0,0,1-20,20H30a20,20,0,0,1-20-20V134a20,20,0,0,1,20-20h75M129,161V9M127,204h3l22-44H105Z'/%3e%3crect x='105' y='9' width='47' height='152'/%3e%3c/g%3e%3c/svg%3e")}
.icon_art{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' stroke-linecap='round' cx='60' cy='96' r='19'/%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' stroke-linecap='round' d='M19.563,24.375h217.23a10,10,0,0,1,10,10V228.91a10,10,0,0,1-10,10H19.563a10,10,0,0,1-10-10V34.375A10,10,0,0,1,19.563,24.375ZM71,201H242M28,201H53M91,198l42-43,42,43M157,176l42-42,43,42'/%3e%3c/svg%3e")}
.icon_textadd{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M217,196H109L43,249V196H38c-16,0-29-13-29-30V38C9,21,22,9,39,9H218c16,0,29,12,29,29V166A30,30,0,0,1,217,196ZM86,103h84M128,61v84'/%3e%3c/svg%3e")}
.icon_audio_off{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M52,90L133,30V225L52,164V90ZM10,91H52v73H10V91ZM173,98l59,59m0-59-59,59'/%3e%3c/svg%3e")}
.icon_audio_play{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M52,90L133,30V225L52,164V90ZM10,91H52v73H10V91ZM188,60c25,37,25,97,0,134m-27-94c10,14,10,39,0,53M216,18c40,59,40,156,0,215'/%3e%3c/svg%3e")}
.icon_event{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M128,17A111,111,0,0,0,240,128c0,0,0,0,0-0v1A111,111,0,0,0,129,240h-1A111,111,0,0,0,16,129c-0,0-.88.012-1,0v-1c0,0,.293.006,0,0A111,111,0,0,0,127,16'/%3e%3c/svg%3e")}
.icon_var{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M42,216C25,216,12,176,12,128S25,40,42,40m171,176c16,0,30-39,30-88s-13-88-30-88M80,55l97,145m0-145L80,200'/%3e%3c/svg%3e")}
.icon_controll{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' cx='128' cy='128' r='120'/%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' cx='128' cy='128' r='60'/%3e%3c/svg%3e")}
.icon_choice{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e %3cpath fill='none' fill-opacity='0' stroke='%23000' stroke-width='3' stroke-linejoin='round' stroke-linecap='round' d='M2,32L15,19,28,32,15,45ZM42,3H60V21H42V3Zm0,40H60V61H42V43Z M15,20V12H42m0,40H15V44'/%3e%3c/svg%3e")}
.icon_html{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M78,205L1,128,78,52M174,205L250,128,174,52M94,211L159,43'/%3e%3c/svg%3e")}
.icon_equal{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M47,127h161M128,208V47'/%3e%3c/svg%3e")}
.icon_minus{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='M47,127h161'/%3e%3c/svg%3e")}
.icon_scale{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3ccircle fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' cx='128' cy='128' r='92'/%3e%3c/svg%3e")}
.icon_color{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' d='M6,7H41V123H6V7ZM52,51L80,23l25,25L52,100M78,87h44v35H55M41,84H6M6,46H41m11,5L76,75m7,12v35'/%3e%3ccircle ifill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' cx='23.5' cy='104.5' r='6.5'/%3e%3c/svg%3e")}
.icon_right{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' d='m 175,36 -91,91 91,91'/%3e%3c/svg%3e")}
.icon_layout{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' %3e%3cpath d='M77,186c0-21,22-39,50-39S178,164,178,186M3,40H252M216,4V253M252,216H3M40,253V4'/%3e%3ccircle cx='127.5' cy='106.5' r='25.5'/%3e%3c/g%3e%3c/svg%3e")}
.icon_copu{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' %3e%3cpath d='M174,206v26a20,20,0,0,1-20,20H37a20,20,0,0,1-20-20V69A20,20,0,0,1,37,49H82'/%3e%3crect x='82' y='4' width='157' height='203' rx='20' ry='20'/%3e%3c/g%3e%3c/svg%3e")}
.icon_more{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' %3e%3ccircle cx='213' cy='128' r='12'/%3e%3ccircle cx='128' cy='128' r='12'/%3e%3ccircle cx='42' cy='128' r='12'/%3e%3c/g%3e%3c/svg%3e")}
.icon_toast{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' stroke-linejoin='round' %3e%3crect x='28' y='68' width='199' height='100' rx='30' ry='30'/%3e%3cpath d='M251,215H5'/%3e%3c/g%3e%3c/svg%3e")}
.icon_timer{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cg fill='none' stroke='%23000' stroke-width='12' %3e%3cpath d='M128,64V13A115,115,0,1,1,13,128,112,112.384,0,0,1,25,77' /%3e%3cpath d='m 139,134 c -3,5 -12,6 -18,3 l -67,-45 78,26 c 6,2 10,10 7,16 z' /%3e%3c/g%3e%3c/svg%3e")}
.icon_random{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e %3cpath fill='none' fill-opacity='0' stroke='%23000' stroke-width='3' stroke-linejoin='round' stroke-linecap='round' d='M5.5,27.9l23.0-6.5A6,6,0,0,1,36.0,25.5l6.5,23.0A6,6,0,0,1,38.4,56.0L15.3,62.5A6,6,0,0,1,7.9,58.4L1.4,35.3A6,6,0,0,1,5.5,27.9ZM11,34a2,2,0,1,1-2,2A2,2,0,0,1,11,34Zm11,6a2,2,0,1,1-2,2A2,2,0,0,1,22,40ZM16,51a2,2,0,1,1-2,2A2,2,0,0,1,16,51Zm17-5a2,2,0,1,1-2,2A2,2,0,0,1,33,46ZM28,29a2,2,0,1,1-2,2A2,2,0,0,1,28,29ZM23.8,17.6l3.6-11.5a6,6,0,0,1,7.5-3.8L57.9,9.5a6,6,0,0,1,3.8,7.5L54.4,39.9a6,6,0,0,1-7.5,3.8M35,9a2,2,0,1,0,2,2A2,2,0,0,0,35,9Zm9,26a2,2,0,1,0,2-2A2,2,0,0,0,44,35Zm3-9a2,2,0,1,0,2-2A2,2,0,0,0,47,26Zm5-11a2,2,0,1,0,2,2A2,2,0,0,0,52,15Z'/%3e%3c/svg%3e")}
.icon_refrash{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='12' d='M251,94l-23,34-34-23M6,161l24-33,35,25M228,128m-15,52c-17.112,28.088-47.628,47-83,47-54.186,0-99.434-43.948-100-98M46,76c17.3-28.1,47.608-47,83-47a99.178,99.178,0,0,1,99,99'/%3e%3c/svg%3e")}
.icon_search{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' d='M46,11c20,0,37,16,37,36A37,37,0,0,1,46,84C25,84,10,67,10,47A35,35,0,0,1,46,11ZM79,77l42,42M47,24A23,23,0,0,1,70,47'/%3e%3c/svg%3e")}
.icon_clear{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' d='M53,113H24L3,92V73L73,3l45,45ZM20,56l45,45M74,28L45,58M9,123H64M120,112h6M105,112h6M70,112H96'/%3e%3c/svg%3e")}
.icon_side{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' d='M32,61V18M43,28L32,17,21,28M62,2H2'/%3e%3c/svg%3e")}
.icon_cent{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' d='M56,41V56H41M8,41V56H23M56,23V8H41M8,23V8H23M21,21H43V43H21V21Z'/%3e%3c/svg%3e")}
.icon_diag{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' d='M47,47L4,4M47,32V47H32M62,32V62H32'/%3e%3c/svg%3e")}
.icon_char{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' d='M5,126c0-25,27-46,60-46s59,20.584,59,46M65,63A30,30,0,1,1,95,33,30,30,0,0,1,65,63Z'/%3e%3c/svg%3e")}
.icon_js{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' stroke-linecap='round' d='M26,69s-5,38,36,38c39,0,36-39,36-39M106,72s12-5,12,5-18,17-18,17M28,107s-17,3-17,6c0,3,29,8,53,8,24,0,50-5,50-8,0-3-19-6-19-6M38,53s-14,2-14,6c0,3,28,5,38,5,9,0,36-3,36-8,0-3-11-5-11-5M47,18C32,30,60,35,53,54M75,4s-8,3-8,14c-0,9,9,18,9,23,0,12-6,13-6,13'/%3e%3c/svg%3e")}
.icon_video{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' d='M8,54H120v70H8V54ZM60,54L50,73M21,73L31,54M119,54L109,73M80,73L90,54M120,73H8M58,39L43,23M15,31L30,47M116,23L100,7M72,15L87,31M3,34L110,4l6,19L8,53Z'/%3e%3c/svg%3e")}
.icon_copy{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' stroke-linejoin='round' d='M8,61L29,40M30,53V39H16M17,31V14a4,4,0,0,1,4-4h6v4H45V10h6a4,4,0,0,1,4,4V48a4,4,0,0,1-4,4H37M27,18V7h5a4,4,0,0,1,8,0h5V18H27Z'/%3e%3c/svg%3e")}
.icon_paste{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' stroke-linejoin='round' d='M33,39L54,60M55,47V61H41M46,38V14a4,4,0,0,0-4-4H36v4H18V10H12a4,4,0,0,0-4,4V48a4,4,0,0,0,4,4H31M36,18V7H31a4,4,0,0,0-8,0H18V18H36Z'/%3e%3c/svg%3e")}
.icon_undo{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' stroke-linejoin='round' d='M17,29L5,17,17,5M6,17H37c11.322,0,20,6.678,20,18S48.322,53,37,53H17'/%3e%3c/svg%3e")}
.icon_cut{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cg fill='none' stroke='%23000' stroke-width='3' stroke-linejoin='round'%3e%3cpath d='M34,34V2l6,12V34m0,6V54m-6-8V40M53.984,40.016h-40l-12-6h44'/%3e%3ccircle cx='32' cy='54' r='8'/%3e%3ccircle cx='54' cy='32' r='8'/%3e%3c/g%3e%3c/svg%3e")}
.icon_map{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='6' stroke-linejoin='round' d='M96,26L127,37v88L85,111,43,125,1,111V23L43,37l12-4M85,52v58M43,124V38M75,67S54,38,54,26a21,21,0,0,1,42,0C96,38,75,67,75,67Zm0-50a8,8,0,1,0,8,8A8,8,0,0,0,75,17Z'/%3e%3c/svg%3e")}
.icon_replace{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3cpath fill='none' fill-opacity='0' stroke='%23000' stroke-width='3' stroke-linejoin='round' d='M4,42l7-7,7,7M60,22l-7,7-7-7M30,56C20,56,11,46,11,36M33,8C44,8,53,17,53,28M38,58L47,38,56,58M9,27L26,6M27,27L10,6M41,51H53'/%3e%3c/svg%3e")}
.icon-telegram{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 512 512'%3e %3cpath fill='none' fill-opacity='0' stroke='%23000' stroke-width='14' stroke-linejoin='round' stroke-linecap='round' d='M8,244L496,51,415,455,194,312,386,144,126.294,287.247ZM126,287l68,149,1-124M193,436l84-70'/%3e%3c/svg%3e")}
.bg_1{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath stroke-opacity='0.4' stroke='%23fff' stroke-width='1' d='M0,1H64M0,17H64M0,49H64M0,9H64M0,41H64M0,25H64M0,57H64M1-4V64M49-4V64M17-4V64M57-4V64M25-4V64M41-4V64M9-4V64'/%3e%3cpath stroke-opacity='1' stroke='%23fff' stroke-width='1' d='M-1,32H68M32-4V65'/%3e%3c/svg%3e")}
.bg_2{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M64,14.4v9.2L40.3,0h9.2Zm-64,0L14.4,0h9.2L0,23.6V14.4ZM0,49.5V40.3L23.6,64H14.4ZM8.3,32L32,8.3,55.6,32,32,55.6ZM32,17.5L17.5,32,32,46.4,46.4,32Zm32,32L49.5,64H40.3L64,40.3v9.2Z'/%3e%3c/svg%3e")}
.bg_3{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M32,32V0H64V32H32ZM0,64V32H32V64H0Z'/%3e%3c/svg%3e")}
.bg_4{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M32,0L64,32,32,64,0,32Z'/%3e%3c/svg%3e")}
.bg_5{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M42,35H35v7H29V35H22V29H29V22H35V29h7V35Z'/%3e%3c/svg%3e")}
.bg_6{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M64,7A7,7,0,0,1,57,0H64V7Zm-64,0V0H7A7,7,0,0,1,0,7ZM7,64H0V57A7,7,0,0,1,7,64ZM32,39A7,7,0,1,1,39,32,7,7,0,0,1,32,39ZM64,57V64H57A7,7,0,0,1,64,57Z'/%3e%3c/svg%3e")}
.bg_7{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3crect opacity='0.25' fill='%23fff' x='16' width='32' height='64'/%3e%3crect opacity='0.25' fill='%23fff' y='16' width='64' height='32'/%3e%3c/svg%3e")}
.bg_8{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M64,53.4v9.2h0L62.7,64H53.4Zm0-8.3L45.1,64H36.0l-0.1-.1h0L64,35.8v9.2h0ZM40.5,4.6L35.9,0h9.2Zm-17.1,0L18.7,0h9.2ZM32,48.4l-5.8,5.8-4.6-4.6L32,39.2,42.4,49.6,37.8,54.2Zm0-17.6L17.3,45.4l-4.6-4.6L32,21.5,51.2,40.8l-4.6,4.6ZM14.6,13.4L1.1,0h9.2l8.8,8.8ZM5.8,22.2L0,16.4V7.2L10.4,17.6ZM32,13.1L8.5,36.6,3.9,32h0L32,3.9,60.0,32l-4.6,4.6Zm26.2,9.1-4.6-4.6L64,7.2v9.2h0ZM44.7,8.8L53.5,0h9.2L49.3,13.4ZM27.9,64h-9.1L0,45.0V35.8L28.0,63.9ZM1.2,64L0,62.7V53.4L10.5,64H1.2Z'/%3e%3c/svg%3e")}
.bg_9{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cg fill='%23fff'%3e%3cpath opacity='0.9' d='M16,16V0L0,8M48,64V48L32,56M0,56V40l16,8m48-8V24L48,32'/%3e%3cpath opacity='0.7' d='M16,16V0L32,8M16,48V32L0,40M16,64V48l16,8m0-16V24l16,8m0,0V16l16,8M32,56V40l16,8m16,8V40L48,48'/%3e%3cpath opacity='0.5' d='M0,72V56l16,8M48,16V0L32,8M0,24V8l16,8M64,72V56L48,64M64,8V-8L48,0M32,24V8L16,16M32,40V24L16,32M32,56V40L16,48M0,8V-8L16,0'/%3e%3cpath opacity='0.3' d='M48,16V0L64,8M48,32V16L32,24M16,32V16L0,24M48,48V32l16,8M16,64V48L0,56M32,72V56l16,8M32,8V-8L48,0'/%3e%3cpath opacity='0.1' d='M16,32V16l16,8M16,48V32l16,8'/%3e%3c/g%3e%3c/svg%3e")}
.bg_0{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cg fill='%23fff' fill-opacity='0.2'%3e%3cpath d='M32,64a16,16,0,0,1,0-32V64Z'/%3e%3ccircle cx='0' cy='16' r='16'/%3e%3c/g%3e%3cg fill='%23fff' fill-opacity='0.5'%3e%3cpath d='M32,32V0A16,16,0,0,1,48,16,16,16,0,0,1,32,32Z'/%3e%3ccircle cx='64' cy='48' r='16'/%3e%3c/g%3e%3c/svg%3e")}
.bg_a{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1' stroke-linejoin='round' d='M0,43L16,32,32,43m0,0L48,32,64,43M0,21L16,32m0,0L32,21,48,32M0,0L16,11m0,0L32,0,48,11M0,64L16,53,32,64m0,0L48,53,64,64M48,11L64,0M48,32L64,21M16,53V11M32,64V43M32,21V0M48,53V11M0,64V43M0,21V0'/%3e%3c/svg%3e")}
.bg_b{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23fff' stroke-width='2' d='M32,8L56,32,32,56,8,32ZM0,8L24,32,0,56-24,32ZM64,8L88,32,64,56,40,32ZM32-24L56,0,32,24,8,0ZM32,40L56,64,32,88,8,64Z'/%3e%3c/svg%3e")}
.bg_c{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23fff' stroke-width='2' stroke-linejoin='round' d='M32,16.7l5.2,9.5L48,28.4l-7.4,7.9,1.3,10.8L32,42.6l-9.8,4.6,1.3-10.8L16,28.4l10.7-2.0L32,16.7zM64-15.2l5.2,9.5L80-3.6,72.5,4.3l1.3,10.8L64,10.6l-9.8,4.6L55.4,4.3,48-3.6,58.7-5.6,64-15.2zM0-15.2L5.2-5.6,16-3.6,8.5,4.3,9.8,15.2,0,10.6l-9.8,4.6L-8.5,4.3-16-3.6-5.2-5.6,0-15.2zM64,48.7l5.2,9.5L80,60.4l-7.4,7.9,1.3,10.8L64,74.6l-9.8,4.6,1.3-10.8L48,60.4l10.7-2.0L64,48.7zM0,48.7l5.2,9.5L16,60.4,8.5,68.3,9.8,79.2,0,74.6l-9.8,4.6,1.3-10.8L-16,60.4l10.7-2.0L0,48.7z'/%3e%3c/svg%3e")}
.bg_d{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 100 100'%3e%3cpath fill='%23fff' opacity='0.5' d='M0,77l23,23H10L0,90V77ZM86,0l14,14V26L75,0H86Zm14,51H86l14,14V77L75,51V40L61,26H75V13L88,26h12V51Zm0,49H75V91L61,77H75V64L88,77h12v23ZM50,38V51H36L50,65V77L25,51V40L11,26H25V13L38,26H50L75,51H63Zm10,62L50,90v10H25V91L11,77H25V64L38,77H50l23,23H60ZM0,38V26L25,51H13ZM36,0L50,14V26L25,0H36Z'/%3e%3c/svg%3e")}
.bg_e{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1' d='M16,10L32,0,16,32V10ZM32,21V0L16,32ZM16,10L0,0,16,32V10ZM0,21V0L16,32ZM32,42L48,32,32,64V42ZM48,53V32L32,64ZM0,42L16,32,0,64V42ZM16,53V32L0,64ZM32,42L16,32,32,64V42ZM16,53V32L32,64ZM64,42L48,32,64,64V42ZM48,53V32L64,64ZM48,10L64,0,48,32V10ZM64,21V0L48,32ZM48,10L32,0,48,32V10ZM32,21V0L48,32ZM32,21L16,32H48ZM16,53L0,64H32ZM48,53L32,64H64ZM32,42L16,32H48ZM16,10L0,0H32ZM48,10L32,0H64ZM0,21L-16,32H16ZM0,42L-16,32H16ZM64,21L48,32H80ZM64,42L48,32H80Z'/%3e%3c/svg%3e")}
.img_mouse{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='2' stroke-linejoin='round' d='M128,36a55,55,0,0,1,55,55v73a55,55,0,0,1-111,0v-73A55,55,0,0,1,128,36ZM127,51a8,8,0,0,1,8,8V81a8,8,0,0,1-16,0V59A8,8,0,0,1,127,51Zm55,51H73m54,0V89m0-38V37'/%3e%3c/svg%3e");}
.img_touch{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='2' stroke-linejoin='round' d='M42,47H213a10,10,0,0,1,10,10V198a10,10,0,0,1-10,10H42a10,10,0,0,1-10-10V57A10,10,0,0,1,42,47ZM33,166H223m-95,42V167'/%3e%3c/svg%3e")}
.img_html{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' d='M111,27v97H18V3H88ZM111,27H88V3M51,95L30,74,51,53M77,95L97,74,77,53M55,95L72,53'/%3e%3c/svg%3e")}
.img_zip{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' d='M19,4h90a16,16,0,0,1,16,16v88a16,16,0,0,1-16,16H19A16,16,0,0,1,3,108V20A16,16,0,0,1,19,4ZM30,18H41V39H30V18ZM30,39H41V50H30V39ZM125,31a16,16,0,0,0-16-16H19A16,16,0,0,0,3,31m106,84H19M40,91H31m9-6H31m9-6H31m9-6H31m9-6H31m9-6H31m9-6H31m9,60H31m9-6H31m9-6H31m9-6H31'/%3e%3c/svg%3e")}
.img_wait{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3ccircle cx='64' cy='64' r='56' style='stroke: %23000; stroke-dasharray:360; stroke-dashoffset:360; stroke-width:6; fill:transparent'%3e%3canimate attributeName='stroke-dashoffset' dur='1.5s' to='-360' repeatCount='indefinite'/%3e%3canimateTransform attributeName='transform' type='rotate' values='0 64 64;360 64 64' dur='1s' repeatCount='indefinite'/%3e%3c/circle%3e%3c/svg%3e")}
.img_base{filter:var(--ft);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 128 128'%3e%3cpath fill='none' stroke='%23000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' d='M19,4h90a16,16,0,0,1,16,16v88a16,16,0,0,1-16,16H19A16,16,0,0,1,3,108V20A16,16,0,0,1,19,4ZM64,124V102.926a12,12,0,1,0,0-17.852V64H85.074a12,12,0,1,1,17.852,0H125M64,4V25.074a12,12,0,1,0,0,17.853V64H42.926a12,12,0,1,1-17.853,0H3'/%3e%3c/svg%3e")}
.scene{background-color:var(--cb);border-radius:12px;padding:4px;margin-top:4px;}
.dialog_element{padding:4px;font-size:12px;border-radius:6px;background-color:var(--wn);margin-bottom:4px;}
.dialog{margin-top:4px;padding:4px;border-radius:8px;background-color:var(--cw);}
.scene_bg{
	padding:4px 8px;
	border-radius:8px;
	background-color:#fff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	width:calc(100% - 16px);
	height:128px;
}
.choice_b{
	background-color:var(--cw);
	margin-bottom:8px;
	margin-top:8px;
	min-height:20px;
	text-align:center;
	border-radius:6px;
    font-size:12px;
}
#add_element{position:absolute;left:0;top:0;visibility:hidden;width:190px;}
.window{
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
	left:50%;
	background-color: var(--wn) !important;
	border-radius:16px;
	box-shadow:0px 2px 24px var(--cs);
    padding:2px 8px 24px 8px;
}
.win_head{width:100%;height:36px;display:flex;justify-content:center;align-items:center;}
#window_zone{height:100vh;width:100%;position:fixed;left:0;top:0;visibility:hidden;transition-duration:0.5s;z-index:10020;}
#tools_zone{position:fixed;height:100vh;width:100%;left:0;top:0;visibility:hidden;z-index:10000;}
.add_w{
	background-color:var(--wn);
	border-radius:16px;
	box-shadow:0px 2px 24px var(--cs);
}
.button{border-radius:8px;width:100%;height:90%;background-color:var(--cw);}
.button:hover{background-color:var(--cb);}
.big_button{border-radius:20px;height:40px;background-color:var(--cw);cursor:pointer;}
.big_button:hover{background-color:var(--cb);}
.edit_button{background-color:none;cursor:pointer;height:40px;}
.edit_button:hover{background-color:var(--cw);cursor:pointer;}
.search{width:88px;
    background-color:var(--wn);
	height:40px;
	border-left:1px solid var(--cb);
	border-right:1px solid var(--cb);
	padding:0 2px;
    user-select:text;
}
@media screen and (max-width: 620px) {
    .small_menu{display:none;}
    #language_view{border-left:1px solid var(--cb);}
}
.add_button{height:28px;width:28px;}
.input_text_b{
	border:0;
	font-family:Arial;
	font-size:12px;
	-webkit-appearance:none;
	background-color:transparent;
	cursor:text;
	height:20px;
	width:100%;
	user-select:text;
}
.input_text{
	border:0;
	font-family:Arial;
	font-size:12px;
	-webkit-appearance:none;
	border-bottom:1px solid var(--cb);
	background-color:transparent;
	cursor:text;
	height:28px;
	width:100%;
	user-select:text;
}
.input_slider{appearance:none;height:6px;background:var(--cw);outline:none;border-radius:8px;}
.input_slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;width:20px;height:20px;border-radius:50%;background:var(--cb);cursor:pointer;border:3px solid var(--wn);}
.input_slider_red{-webkit-appearance:none;height:6px;background:#f88;;outline:none;border-radius:8px;}
.input_slider_green{-webkit-appearance:none;height:6px;background:#8f8;outline:none;border-radius:8px;}
.input_slider_blue{-webkit-appearance:none;height:6px;background:#aaf;outline:none;border-radius:8px;}
.input_slider_grey{-webkit-appearance:none;height:6px;background:#ccc;outline:none;border-radius:8px;}
.input_slider::-moz-range-thumb{-moz-appearance:none;appearance:none;width:16px;height:16px;border-radius:50%;background:var(--cb);cursor:pointer;border:3px solid var(--wn);}
.input_slider_progress::-moz-range-progress{-moz-appearance:none;height:6px;background: var(--cb);outline:none;border-radius:8px;}
.input_slider_red::-moz-range-progress{-moz-appearance:none;height:6px;background:#f88;outline:none;border-radius:8px;}
.input_slider_green::-moz-range-progress{-moz-appearance:none;height:6px;background:#8f8;outline:none;border-radius:8px;}
.input_slider_blue::-moz-range-progress{-moz-appearance:none;height:6px;background:#aaf;outline:none;border-radius:8px;}
.input_slider_grey::-moz-range-progress {-moz-appearance:none;height:6px;background:#ccc;outline:none;border-radius:8px;}
.input_slider_red::-moz-range-track{appearance:none;height:6px;background:#fee;;outline:none;border-radius:8px;}
.input_slider_green::-moz-range-track{appearance:none;height:6px;background:#efe;outline:none;border-radius:8px;}
.input_slider_blue::-moz-range-track{appearance:none;height:6px;background:#eef;outline:none;border-radius:8px;}
.input_slider_grey::-moz-range-track{appearance:none;height:6px;background:#eee;outline:none;border-radius:8px;}
input[type="text"]{text-indent:4px;}
select{
    border:0;
    text-align-last:center;
	font-family:Arial;
	font-size:12px;
	-webkit-appearance:none;
	border-bottom:1px solid var(--cb);
	background-color:transparent;
	height:28px;width:100%;
}
.input_text:focus{border-bottom:1px solid #fff;}
hr{border-top:1px solid var(--cb);margin:4px 0px;}
.checkbox_a{filter:var(--ft);content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3ccircle fill='none' stroke='%23000' stroke-width='5' stroke-linejoin='round' cx='32' cy='32' r='28'/%3e%3c/svg%3e");background:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;height:16px;width:16px;cursor:pointer;}
.checkbox_a:checked {filter:var(--ft);content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 64 64'%3e%3ccircle fill='none' stroke='%23000' stroke-width='5' stroke-linejoin='round' cx='32' cy='32' r='28'/%3e%3ccircle fill='%23000' cx='32' cy='32' r='18'/%3e%3c/svg%3e");}
.checkbox_b{height:24px;width:24px;content:none;background:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:16px;}
.checkbox_b:checked {content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 -8 256 256'%3e%3cpath fill='none' stroke='%23000' stroke-width='18' stroke-linejoin='round' d='M188,84 114,166 67,122'/%3e%3c/svg%3e");}
.set_button{height:40px;border-right:1px solid var(--cb);padding:0px 12px;background-color:var(--cw);white-space:nowrap;}
.set_select{background-color:var(--cb);}
.set_blank{overflow-x:hidden;position:absolute;overflow-y:auto;width:100%;height:60vh;min-height:360px;}
.window_close{position:absolute;right:0px;top:0px;height:40px;width:40px;cursor:pointer;}
.namber{padding-left:8px;font-size:12px;color:var(--tx);}
.add_el{height:40px;}
.add_el:hover{background-color:var(--cb);}
.text_tutorials_a{font-size:11px;text-align:left;background-color:var(--cw);padding:8px;color:var(--tx);}
.text_tutorials_b{font-size:12px;text-align:left;padding-top:4px;color:var(--tx);}
.select_tutorials{user-select:text;}
.chec_bg{border:2px solid var(--cw);border-radius:8px;background-color:var(--cb);height:68px;width:68px;content:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.chec_bg:checked{background-color:var(--cw);border:2px solid var(--cb);}
#scene_maker{height:100vh;width:100%;position:fixed;left:0px;top:0px;display:none;}
#scene_canvas{height:calc(100vh - 40px);width:calc(98vh - 40px);position:relative;}
@media only screen and (max-width:120vh){
    #scene_canvas{height:72vw;width:72vw;}
}
.scene_close{display:none;}
.scene_close div{height:100%;width:100%;}
#scene_layout{
    overflow:hidden;
    height:100%;
    width:50%;
    background-color:#000;
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    border-radius:8px;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:0px 2px 24px var(--cs);
}
.set_title{background-color:var(--cb);cursor:pointer;}
.input_color{cursor:pointer;border:none;height:100%;width:100%;opacity: 0;}
.show_color{background-color:var(--cb);border-radius:50%;width:26px;height:26px;}
.select_box{visibility:hidden;background-color:var(--cs);opacity:0.6;}
.drag{transform-origin:top left;box-sizing:border-box;width:100px;height:100px;position:absolute;top:100px;left:100px;cursor:move;border: 1px solid var(--cb);outline: dashed 1px var(--cl);outline-offset: -1px;}
.resizer{width:6px;height:6px;position:absolute;z-index:4000;}
.top-right,.top-left,.bottom-left,.bottom-right,.rotate{border-radius:50%;background:#fff;border: 1px solid var(--cl);}
.size-right:after,.size-left:after,.size-bottom:after,.size-top:after{content:'';width:6px;height:6px;position:absolute;transform:translateY(-50%) translateX(-50%);top:50%;left:50%;border-radius:50%;background:#fff;border: 1px solid var(--cl);}
.size-right{right:-4px;top:50%;cursor:ew-resize;height:calc(100% - 32px);transform:translateY(-50%);}
.size-right:before{position:absolute;content:'';top:-8px;right:-12px;left:0px;bottom:-8px;}
.top-right{right:-5px;top:-5px;cursor:nesw-resize;}
.top-right:before{position:absolute;content:'';top:-12px;right:-12px;left:-4px;bottom:-4px;}
.top-left{left:-5px;top:-5px;cursor:nwse-resize;}
.top-left:before{position:absolute;content:'';top:-12px;right:-4px;left:-12px;bottom:-4px;}
.size-left{left:-4px;top:50%;cursor:ew-resize;height:calc(100% - 32px);transform:translateY(-50%);}
.size-left:before{position:absolute;content:'';top:-8px;right:0px;left:-12px;bottom:-8px;}
.bottom-left{left:-5px;bottom:-5px;cursor:nesw-resize;}
.bottom-left:before{position:absolute;content:'';top:-4px;right:-4px;left:-12px;bottom:-12px;}
.size-bottom{left:50%;bottom:-4px;cursor:ns-resize;width:calc(100% - 32px);transform:translateX(-50%);}
.size-bottom:before{position:absolute;content:'';top:4px;right:-8px;left:-8px;bottom:-12px;}
.bottom-right{right:-5px;bottom:-5px;cursor:nwse-resize;}
.bottom-right:before{position:absolute;content:'';top:-4px;right:-12px;left:-4px;bottom:-12px;}
.size-top{left:50%;top:-4px;cursor:ns-resize;width:calc(100% - 32px);transform:translateX(-50%);}
.size-top:before{position:absolute;content:'';bottom:4px;right:-8px;left:-8px;top:-12px;}
.rotate {left:50%;top:-42px;cursor:crosshair;transform:translateX(-50%);}
.rotate:before{position:absolute;content:'';bottom:-8px;right:-8px;left:-8px;top:-8px;}
.proportion_c{filter:var(--ft);content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 512'%3e%3cg fill='none' stroke='%23000' stroke-width='9' stroke-linejoin='round'%3e%3cpath d='M128,188a12,12,0,0,1,12,12v32a12,12,0,0,1-24,0V200A12,12,0,0,1,128,188Z M128,268a12,12,0,0,1,12,12v32a12,12,0,0,1-24,0V280A12,12,0,0,1,128,268Z M128,283V232'/%3e%3ccircle cx='16' cy='85' r='12'/%3e%3ccircle cx='16' cy='428' r='12'/%3e%3c/g%3e%3c/svg%3e");height:64px;width:32px;background:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;}
.proportion_c:checked{filter:var(--ft);content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 512'%3e%3cg fill='none' stroke='%23000' stroke-width='9' stroke-linejoin='round' %3e%3cpath d='M128,355.5V398a30,30,0,0,1-30,30H29M29,85H98a30,30,0,0,1,30,30v42.5 M128,188a12,12,0,0,1,12,12v32a12,12,0,0,1-24,0V200A12,12,0,0,1,128,188Z M128,268a12,12,0,0,1,12,12v32a12,12,0,0,1-24,0V280A12,12,0,0,1,128,268Z M128,283V232'/%3e%3ccircle cx='16' cy='85' r='12'/%3e%3ccircle cx='16' cy='428' r='12'/%3e%3c/g%3e%3c/svg%3e");}
.align{
    -webkit-appearance:none;-moz-appearance:none;appearance:none;
    height:32px;width:32px;
    border-radius:4px;cursor:pointer;
}
.align:checked {background-color:var(--cb);}
.switchbox {
    position:relative;
    display:inline-block;
    width:32px;
    height:18px;
    margin-bottom:3px;
}
.switchbox input{opacity:0;width:0;height:0;}
.toggle{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:var(--cw);
    transition:0.1s;
    border-radius:12px;
}
.toggle:before{
    position:absolute;
    content:"";
    height:14px;
    width:14px;
    left:2px;
    bottom:2px;
    background-color:#fff;
    transition:0.1s;
    border-radius:12px;
}
input:checked+.toggle{background-color:var(--cb);}
input:checked+.toggle:before{transform:translateX(14px);}
.offselect{height:100%;width:100%;position:absolute;left:0;top:0;}
#translation_input {width:100%;}
#translation_input input{
    border:0;
    font-family:Arial;
    font-size:13px;
    -webkit-appearance:none;
    background-color:transparent;
    cursor:text;
    height:32px;
    width:100%;
    padding:0px 6px;
    box-sizing:border-box;
    user-select:text;
}
#translation_input tr:nth-child(odd){background-color:var(--cw);}
#translation_input tr:nth-child(even){background-color:var(--wn);}
#translation_edit span{padding-left:8px;}
#translation_slider{
    position:absolute;
    cursor:ew-resize;
    top:0px;
    width:12px;
    height:100%;
    background-color:#2196F3;
    opacity:0;
}
#scene_view:after,#ho_preview:after{
    position:absolute;
    content:"";
    top:0px;
    right:0px;
    pointer-events: none;
    height:100%;
    width:28px;
    box-shadow:inset -26px 0 16px -28px var(--cs);
}
.translation_data{height:40px;display:flex;justify-content:start;align-items:center;white-space:nowrap;}
.codeView{
    overflow: scroll;
    position: relative;
    padding-left:0px;
    height:calc(90vh - 128px);
    width:100%;
    border-top:1px solid var(--cb);
    border-bottom:1px solid var(--cb);
    min-height:92px;
}
.codeView *{
    box-sizing:border-box;
    font-size:12px;
    text-align:left;
    font-family:monospace;
}
.code_text,.code_show{
    background-color:transparent;
    font-family:monospace;
    text-decoration:none;
    position:absolute;
    top:0px;left:0px;
    overflow:hidden;
    outline:none;
    resize:none;
    padding:8px;
    margin:0;
}
.code_text{
    width:100%;
    min-width:100%;
    min-height:100%;
    border:none;
    color:transparent;
    caret-color:var(--tx);
}
.code_show{
    color:var(--tx);
    padding-top:9px;
    padding-left:12px;
    left:-3.3px;top:-0.5px;
}
.code_elem_1{color:var(--cb);font-style:italic;}
.code_elem_2{color:var(--tx);filter:brightness(0.5) invert(50%);}
.code_elem_3{color:#e88;font-weight:bold;}
.code_elem_4{color:#6b5; }
.code_elem_5{color:#88e; }
